# tipsが保存されているフォルダ
tips/
# idが保存されているフォルダ
ids/
# tipsをとってくる条件が書かれたファイルが入っているフォルダ
search_parameter/

# index.htmlのバックアップファイル
index.html.bak

# jquery
jquery-3.2.1.min.js

# 汎用性のないファイル
store_json_db.py
